<div class="below1">
     <div class="below1-right">
     </div>
     </div>


<h3> make a new menu or a add a item to a menu <h3>





<%= render partial: "add_menu", locals:{
                
        
         section_title: "add menu_item", 
         user_role: @current_user.role,
         menu: Menu.all,
         menu_item: MenuItem.all
            } %>

